.Ribbon{

	transform: translateY(-250px);

}

.rbbl{

	background-color: red; 
	height: 100px;
	border: 1px solid red;
	margin-right: 650px;

	}

.rbbr{
	background-color: red;
	height: 100px;
	border: 1px solid red;
	margin-left: 650px;
	transform: translateY(-100px);
}
