body {
		background-color: black;
	}

img{
	  width: 275px;
	  height: 250px;
	}

.port{
		width: 375px;
		height: 375px;
		margin-top: 5%;
		margin-left: 33%;
	}

.ribbonL{
		border: 1px solid red;
		height: 100px;
		margin-right: 50%;
		background-color: red;
		float: left;

.ribbonR{
		border: 1px solid red;
		height: 100px;
		margin-left: 50%;
		background-color: red;
		float: right;
	}

/*.ribbonR .ribbonL{
		display: table-cell;
		vertical-align: top;

	}*/